{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
  .jumbotron {
    text-align: center;
    background-color: white;
    padding: 2rem 1rem;
    border: 1px solid #e3e3e3;
    border-radius: 0.3rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  }
  .form-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #f7f7f7;
    border: 1px solid #e3e3e3;
    border-radius: 0.3rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    overflow-x: auto; /* Ensure overflow is handled */
  }
  .form-group {
    margin-bottom: 1.5rem;
  }
  .form-group label {
    font-weight: 600;
  }
  .custom-checkbox {
    margin-right: 1rem;
  }
  .form-control {
    width: auto;
    min-width: 150px; /* Minimum width for the dropdowns */
  }
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    padding: 0.5rem 1.25rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
  }
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
  }
  .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #fff;
    padding: 0.25rem 0.5rem;  /* Made the button smaller */
    font-size: 0.875rem;  /* Made the button smaller */
    border-radius: 0.3rem;
  }
  .btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
  }
  .image {
    max-width: 100%;
    height: auto;
  }
  .split_left2, .split_right2 {
    padding: 1rem;
  }
  .row.align-items-center .col {
    flex: 0 0 auto;
    width: auto;
    margin-right: 0.5rem;  /* Added space between the dropdowns */
  }
  .row.align-items-center .col-wide {
    flex: 0 0 18%; /* Adjusted width to ensure everything fits in one line */
    max-width: 18%;
  }
  .row.align-items-center .col-button {
    flex: 0 0 4%;
    max-width: 4%;
    text-align: center;
  }
  .row.align-items-center .col-intersection {
    flex: 0 0 18%; /* Adjusted width to ensure everything fits in one line */
    max-width: 18%;
  }
</style>
{% endblock %}

{% block body %}
<div class="jumbotron">
  <h1 class="display-4">Select Protected Attributes</h1>
  <p class="lead">Choose attributes that you want to check for fairness, such as race or gender. Select the attribute and the value you consider as the reference group. The tool will then compare other groups against this reference group to find any biases.</p>
  <hr class="my-4">
  <img class="image" src="{{ url_for('static', filename='chain_2.png') }}">
</div>

<div class="form-container">
  <h5>Select protected attributes to be audited for bias:</h5>
  <form id="attributeForm" action="/metric" method="POST">
    {% for attribute in data %}
      {% if not ('Score' == attribute.name or 'Label_value' == attribute.name) %}
      <fieldset class="form-group">
        <div class="row align-items-center" id="row_{{ attribute.name }}">
          <div class="col-wide">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" name="attribute" value="{{ attribute.name }}" class="custom-control-input" id="{{ attribute.name }}">
              <label class="custom-control-label" for="{{ attribute.name }}">{{ attribute.name }}</label>
            </div>
          </div>
          <div class="col-wide">
            <select name="privileged_{{ attribute.name }}" class="form-control">
              <option>Privileged</option>
              {% for value in attribute.values %}
              <option value="{{ value }}">{{ value }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-wide">
            <select name="unprivileged_{{ attribute.name }}" class="form-control">
              <option>Unprivileged</option>
              {% for value in attribute.values %}
              <option value="{{ value }}">{{ value }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-button">
            <button type="button" class="btn btn-secondary add-intersection" data-attribute="{{ attribute.name }}">+</button>
          </div>
        </div>
        <div class="row align-items-center intersection-row" id="intersection_row_{{ attribute.name }}" style="display:none;">
          <div class="col-intersection">
            <select name="intersection_attribute_{{ attribute.name }}" class="form-control">
              <option>Select Attribute</option>
              {% for attribute in data %}
              <option value="{{ attribute.name }}">{{ attribute.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-intersection">
            <select name="intersection_privileged_{{ attribute.name }}" class="form-control">
              <option>Privileged</option>
            </select>
          </div>
          <div class="col-intersection">
            <select name="intersection_unprivileged_{{ attribute.name }}" class="form-control">
              <option>Unprivileged</option>
            </select>
          </div>
        </div>
      </fieldset>
      {% endif %}
    {% endfor %}
    <div class="text-center mt-4">
      <button class="btn btn-primary" id="button" type="button">Next Step</button>
    </div>
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
  $(document).ready(function () {
    $('#attributeForm').on('click', '.add-intersection', function () {
      var attribute = $(this).data('attribute');
      var attributeOptions = `{% for attribute in data %}<option value="{{ attribute.name }}">{{ attribute.name }}</option>{% endfor %}`;
      var intersectionRow = $(`#intersection_row_${attribute}`);
      intersectionRow.show();

      // Update options for the intersection values based on the selected attribute
      $(`select[name="intersection_attribute_${attribute}"]`).change(function () {
        var selectedAttr = $(this).val();
        var privilegedSelect = $(`select[name="intersection_privileged_${attribute}"]`);
        var unprivilegedSelect = $(`select[name="intersection_unprivileged_${attribute}"]`);

        // Update privileged and unprivileged select options
        privilegedSelect.html('<option>Privileged</option>');
        unprivilegedSelect.html('<option>Unprivileged</option>');

        {% for attr in data %}
        if (selectedAttr === "{{ attr.name }}") {
          {% for val in attr.values %}
          privilegedSelect.append('<option value="{{ val }}">{{ val }}</option>');
          unprivilegedSelect.append('<option value="{{ val }}">{{ val }}</option>');
          {% endfor %}
        }
        {% endfor %}

        // Ensure unprivileged dropdown does not show the selected privileged value
        privilegedSelect.change(function () {
          var selectedPrivileged = $(this).val();
          unprivilegedSelect.find('option').show();
          unprivilegedSelect.find(`option[value="${selectedPrivileged}"]`).hide();
        });
      });
    });

    $('#button').click(function () {
      var atts_n_values_picked = [];
      var checkboxes = document.getElementsByName("attribute");
      for (var i = 0; i < checkboxes.length; i++) {
        if (checkboxes[i].checked) {
          var value = $('select[name="privileged_' + checkboxes[i].value + '"] option').filter(':selected').val();
          var privileged = $('select[name="privileged_' + checkboxes[i].value + '"] option').filter(':selected').val();
          var unprivileged = $('select[name="unprivileged_' + checkboxes[i].value + '"] option').filter(':selected').val();
          var selected = { "name": checkboxes[i].value, "value": value, "privileged": privileged, "unprivileged": unprivileged };
          atts_n_values_picked.push(selected);

          // Check if there are intersectional attributes
          var intersectionAttr = $(`select[name="intersection_attribute_${checkboxes[i].value}"] option`).filter(':selected').val();
          var intersectionPrivileged = $(`select[name="intersection_privileged_${checkboxes[i].value}"] option`).filter(':selected').val();
          var intersectionUnprivileged = $(`select[name="intersection_unprivileged_${checkboxes[i].value}"] option`).filter(':selected').val();
          if (intersectionAttr && intersectionPrivileged && intersectionUnprivileged) {
            selected["intersection"] = {
              "attribute": intersectionAttr,
              "privileged": intersectionPrivileged,
              "unprivileged": intersectionUnprivileged
            };
          }
        }
      }
      if (atts_n_values_picked.length > 0) {
        var form = $('#attributeForm');
        var hiddenInput = $('<input>').attr('type', 'hidden').attr('name', 'selected_attributes').attr('value', JSON.stringify(atts_n_values_picked));
        form.append(hiddenInput);
        form.submit();
      } else {
        alert("Please select at least one attribute and its value.");
      }
    });
  });
</script>
{% endblock %}