{% extends "base.html" %}

{% block head %}
    <!-- Ensure these scripts are included for Chart.js and plugin -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.min.js"></script>
    <style>
        .jumbotron {
            text-align: center;
            background-color: #e9ecef;
            padding: 2rem 1rem;
            border: 1px solid #e3e3e3;
            border-radius: 0.3rem;
            box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
        }

        .container {
            margin-top: 2rem;
        }

        .steps {
            display: flex;
            margin-bottom: 2rem;
            min-height: 300px; /* Optional: Ensure a minimum height for better centering */
        }

        .col-md-6 {
            display: flex;
            flex-direction: column;
            align-items: center; /* Center vertically */
            justify-content: center; /* Center horizontally */
        }

        .rounded {
            border-radius: 0.3rem;
        }

        .list-group-item {
            font-size: 1rem;
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
            color: #fff;
        }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #004085;
        }

        .table-container {
            margin-top: 2rem;
        }

        .table-title {
            font-family: 'Arial', sans-serif;
            font-weight: bold;
            font-size: 1.5rem;
            color: #fff;
        }

        .table-subtitle {
            font-family: 'Arial', sans-serif;
            font-size: 1.2rem;
            color: #fff;
        }

        .metric-table {
            width: 80%;
            margin-bottom: 20px;
            text-align: left; /* Ensures left alignment of the text */
        }

        .metric-table th, .metric-table td {
            vertical-align: middle;
            border: 1px solid #dee2e6;
            color: #343a40; /* Updated color for better visibility */
        }

        .metric-table th {
            background-color: #007bff;
            color: #fff;
        }

        .metric-table td {
            background-color: #f8f9fa;
        }

        .chart-container {
            position: relative;
            margin: auto;
            height: 100%;
            width: 100%;
        }

        .chartjs-size-monitor {
            width: 100% !important;
            height: 100% !important;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">Fairness Report</h1>
        <p class="lead">The fairness report is presented below. Only attributes that are considered unfair based on the
            given threshold and metric are presented.</p>
        <hr class="my-4">
        <img class="image" src="{{ url_for('static', filename='Images//chain_4.png') }}">
        <br>
    </div>

    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header text-center" style="background-color: #f8f9fa;">
                        <h4 style="color: #6c757d;">Model Metrics</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-sm table-bordered text-center">
                            <thead>
                            <tr>
                                <th>Accuracy</th>
                                <th>F1 Score</th>
                                <th>Precision</th>
                                <th>Recall</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ model_metrics['accuracy'] | round(4) }}</td>
                                <td>{{ model_metrics['f1_score'] | round(4) }}</td>
                                <td>{{ model_metrics['precision'] | round(4) }}</td>
                                <td>{{ model_metrics['recall'] | round(4) }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if data and data.items()|length > 0 %}

        <div class="container table-container">
            {% for metric, metric_data in data.items() %}
                <div class="row steps">
                    <div class="col-md-6">
                        <div class="metric-table">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th colspan="{{ metric_data|length + 1 }}" class="text-center"
                                        style="background-color: #f8f9fa;">
                                        <h4 style="color: #6c757d;">{{ metric.replace('_', ' ').title() }}</h4>
                                        <div class="table-subtitle" style="color: #6c757d;">The ideal value of this
                                            metric
                                            is {{ metric_data[0]['Ideal_Fairness_Value'] }}</div>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Protected Attributes</td>
                                    {% for el in metric_data %}
                                        <td>{{ el['Protected_Attributes'] | join(', ') }}</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>Privileged Group</td>
                                    {% for el in metric_data %}
                                        <td>
                                            {{ el['Privileged_Group'] }}
                                            {% for attr in el['Intersectional_Attributes'] %}
                                                {{ attr['privileged'] }}
                                            {% endfor %}
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>Unprivileged Group</td>
                                    {% for el in metric_data %}
                                        <td>
                                            {{ el['Unprivileged_Group'] }}
                                            {% for attr in el['Intersectional_Attributes'] %}
                                                {{ attr['unprivileged'] }}
                                            {% endfor %}
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <td>Metric Value</td>
                                    {% for el in metric_data %}
                                        <td>{{ '%.4f' | format(el['Values']) }}</td>
                                    {% endfor %}
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="chart-container">
                            <canvas id="chart-{{ loop.index }}"
                                    class="rounded float-right chartjs-size-monitor"></canvas>
                        </div>
                    </div>
                </div>
                <br>
            {% endfor %}
        </div>
        <div style="height: 100px; position: relative;">
            <a style="margin: 0; position: absolute; top: 50%; left: 50%; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%);"
               class="btn btn-primary btn-lg" href="{{ url_for('algorithms') }}" role="button">Next Step</a>
        </div>
    {% else %}
        <div style="text-align: center; margin-top: 50px;">
            <h2 class="display-4" style="margin-top: 20px; color: #6c757d;">Congratulations! Your model seems fair!</h2>
            <img style="width: 20%;" src="{{ url_for('static', filename='images/success512.png') }}" alt="Success">
            <div style="height: 100px; position: relative;">
                <a style="margin: 0; position: absolute; top: 50%; left: 50%; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%);"
                   class="btn btn-primary btn-lg" href="{{ url_for('selection') }}" role="button">Go Back</a>
            </div>
        </div>
    {% endif %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const threshold = {{ threshold | tojson }} / 100;

            {% for metric, metric_data in data.items() %}
                (function () {
                    var ctx = document.getElementById('chart-{{ loop.index }}').getContext('2d');
                    var idealValue = {{ metric_data[0]['Ideal_Fairness_Value'] | tojson }};
                    var lowerBound, upperBound;

                    if (idealValue === 0) {
                        lowerBound = -(1 - threshold);
                        upperBound = 1 - threshold;
                    } else {
                        lowerBound = idealValue * threshold;
                        upperBound = idealValue / threshold;
                    }

                    var labels = [];
                    var values = [];


                    {% for el in metric_data %}
                        var unprivilegedGroupLabel = '{{ el['Unprivileged_Group'] }}';
                        {% for intersection in el['Intersectional_Attributes'] %}
                            unprivilegedGroupLabel += ' {{ intersection['unprivileged'] }}';
                        {% endfor %}
                        unprivilegedGroupLabel = unprivilegedGroupLabel.trim();

                        labels.push(unprivilegedGroupLabel);
                        values.push({{ '%.4f' | format(el['Values']) }});
                    {% endfor %}

                    new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: labels,
                            datasets: [{
                                label: '{{ metric.replace('_', ' ').title() }}',
                                data: values,
                                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                borderColor: 'rgba(75, 192, 192, 1)',
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true,
                                        suggestedMax: 2 /* Ensure visibility above 1 */
                                    },
                                    gridLines: {
                                        color: "rgba(0, 0, 0, 0.1)"
                                    }
                                }],
                                xAxes: [{
                                    ticks: {
                                        maxRotation: 0,
                                        minRotation: 0,
                                        callback: function (value) {
                                            return value.split(" "); // Adjusts label split to be closer
                                        }
                                    },
                                    gridLines: {
                                        display: false
                                    },
                                    barPercentage: 0.5, // Adjusts the bar width
                                    categoryPercentage: 0.5 // Adjusts the space between bars
                                }]
                            },
                            tooltips: {
                                callbacks: {
                                    label: function (tooltipItem, data) {
                                        var label = data.datasets[tooltipItem.datasetIndex].label || '';
                                        if (label) {
                                            label += ': ';
                                        }
                                        label += tooltipItem.yLabel;
                                        var group = data.labels[tooltipItem.index];
                                        label += ' (Group: ' + group + ')';
                                        return label;
                                    }
                                }
                            },
                            annotation: {
                                annotations: [
                                    {
                                        type: 'line',
                                        mode: 'horizontal',
                                        scaleID: 'y-axis-0',
                                        value: idealValue,
                                        borderColor: 'black', /* Threshold line color */
                                        borderWidth: 1,
                                    },
                                    {
                                        type: 'box',
                                        yScaleID: 'y-axis-0',
                                        yMin: lowerBound,
                                        yMax: upperBound,
                                        backgroundColor: 'rgba(144, 238, 144, 0.2)', // Light green
                                        borderColor: 'rgba(144, 238, 144, 0.5)',
                                        borderWidth: 1,
                                        label: {
                                            enabled: true,
                                            content: 'Fairness Area',
                                            backgroundColor: 'rgba(0, 0, 0, 0.4)', /* Background color for label */
                                            fontColor: 'white', /* Font color for label */
                                            fontSize: 8 /* Font size for label */
                                        }
                                    }
                                ]
                            }
                        }
                    });
                })();
            {% endfor %}
        });
    </script>

{% endblock %}
