{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">
{% endblock %}

<style>
    .jumbotron {
        background-color: #e9ecef; /* You can change this color to any color you need */
    }

    #upload {
        padding: 0.3rem 0.6rem;
        font-size: 0.9rem;
        margin-left: 10px; /* Adjust the margin to align the button */
    }

    .form-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .inline-sections {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .form-group {
        margin-bottom: 1rem;
    }

    .form-check {
        margin-bottom: 0.5rem;
    }

    .next-step-container {
        margin-top: 2rem;
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }

    .table-metric {
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
        border-collapse: collapse;
    }

    .table-metric td, .table-metric th {
        border: 1px solid #dee2e6;
        padding: 0.75rem;
        vertical-align: top;
    }

    .table-metric thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
    }
</style>

{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">Data Auditing</h1>
        <p class="lead">In this stage of the process you need to upload your dataset. You can always try our demo
            datasets to get a hang of the tool.</p>
        <hr class="my-4">
        <img class="image" src="{{ url_for('static', filename='chain_1.png') }}">
    </div>

    <div class="form-container">
        <h5>Demo Datasets</h5>
        <table class="table table-bordered table-striped">
            <tbody>
            <tr>
                <td>
                    <a href="{{ url_for('Choose_att', dataset='Compass') }}" style="color: #4283eb;">Compass Recidivism
                        Risk Assessment</a>
                </td>
                <td>Data contains variables used by the COMPAS algorithm in scoring defendants used by judges and parole
                    officers for scoring criminal defendant’s likelihood of reoffending (recidivism).
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ url_for('Choose_att',dataset='Adult') }}" style="color: #4283eb;">Adult Income Data
                        Set</a>
                </td>
                <td>Predict whether income exceeds $50K/yr based on census data. Also known as "Census Income"
                    dataset.
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ url_for('Choose_att', dataset='German' ) }}" style="color: #4283eb;">German Credit Data
                        Set</a>
                </td>
                <td>Data that classifies people described by a set of attributes as good or bad credit risks</td>
            </tr>
            </tbody>
        </table>
        <br>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation" id="upload_data">
                <a class="nav-link active" id="upload-tab" data-toggle="tab" href="#upload_div" role="tab"
                   aria-controls="upload_div" aria-selected="true" style="color: #0d0d1b;">Upload your own Data</a>
            </li>
            <li class="nav-item" role="presentation" id="model_data">
                <a class="nav-link" id="model-tab" data-toggle="tab" href="#model_div" role="tab"
                   aria-controls="model_div" aria-selected="false" style="color: #0d0d1b;">Select Machine Learning
                    Model</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="upload_div" role="tabpanel" aria-labelledby="upload-tab">
                <br>
                <form id="upload-form" class="form-inline" enctype="multipart/form-data"
                      style="margin-left: -5px;">
                    <div class="form-group mb-2">
                        <input type="file" class="form-control-file btn-sm" name="file" id="file"
                               onchange="enableUploadButton()">
                    </div>
                    <button id="upload" class="btn btn-primary btn-sm"
                            style="padding: 0.3rem 0.6rem; font-size: 0.9rem;" type="button" disabled>Upload
                    </button>
                </form>
                <div style="margin-left: 5px;" id="msg"></div>
                <p style="margin-top: 0.5rem; margin-left: 5px; font-family: 'Roboto Slab', serif; font-size: 1.1rem; font-style: italic;">
                    Note: Please rename your prediction column to <strong>'outcome'</strong> for the app to recognize
                    it.
                </p>
            </div>
            <div class="tab-pane fade" id="model_div" role="tabpanel" aria-labelledby="model-tab">
                <br>
                <form id="model-form" method="POST" action="/Choose_att">
                    <table class="table table-bordered table-striped" id="table">
                        <thead>
                        <tr>
                            <th style="width: 220px;">Training Model</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="logistic_regression">
                            <td>
                                <input name="model" type="radio" value="logistic_regression" checked>
                                Logistic Regression
                            </td>
                            <td>Logistic regression is a statistical method for predicting binary outcomes from data.
                            </td>
                        </tr>
                        <tr id="naive_bayes">
                            <td>
                                <input name="model" type="radio" value="naive_bayes">
                                Naive Bayes
                            </td>
                            <td>Naive Bayes is a simple technique for constructing classifiers: models that assign class
                                labels to problem instances.
                            </td>
                        </tr>
                        <tr id="random_forest">
                            <td>
                                <input name="model" type="radio" value="random_forest">
                                Random Forest
                            </td>
                            <td>Random Forest is an ensemble learning method for classification that operates by
                                constructing a multitude of decision trees.
                            </td>
                        </tr>

                        <tr id="svm">
                            <td>
                                <input name="model" type="radio" value="svm">
                                SVM
                            </td>
                            <td>Support Vector Machine (SVM) is a supervised machine learning algorithm which can be
                                used for classification or regression challenges.
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="next-step-container">
                        <button id="next-step" class="btn btn-primary btn-sm mt-2" type="submit">Next Step</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        function enableUploadButton() {
            var fileInput = document.getElementById('file');
            var uploadButton = document.getElementById('upload');
            uploadButton.disabled = fileInput.value === "";
        }

        $(document).ready(function () {
            $('#upload').on('click', function () {
                var form_data = new FormData();
                var fileInput = document.getElementById('file');
                var file = fileInput.files[0];

                if (!file) {
                    $('#msg').html('<span style="color:red">Select at least one file</span>');
                    return;
                }

                if (file.name.split('.').pop().toLowerCase() !== 'csv') {
                    $('#msg').html('<span style="color:red">Only CSV files are allowed</span>');
                    return;
                }

                form_data.append("file", file);

                $.ajax({
                    url: '/upload',
                    dataType: 'json',
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: form_data,
                    type: 'post',
                    success: function (response) {
                        $('#msg').html('');
                        $('#msg').append(response.message + '<br/>');
                        if (response.success) {
                            $('#model_div').addClass('active').removeClass('fade');
                            $('#upload_div').removeClass('active').addClass('fade');

                            $('#model-tab').addClass('active').attr('aria-selected', 'true');
                            $('#upload-tab').removeClass('active').attr('aria-selected', 'false');

                            $('#model-tab').tab('show');
                            $('#next-step').prop('disabled', false);
                        }
                    },
                    error: function (response) {
                        $('#msg').html(response.message);
                    }
                });
            });

        });
    </script>
{% endblock %}
